/*  Stylesheet for the Meteor Slides 1.5.1 slideshow

Copy "meteor-slides.css" from "/meteor-slides/css/" to your theme's directory to replace
the plugin's default stylesheet.

If you have navigation enabled, be sure to copy the "buttons.png", "next.png",
and "prev.png" files to your theme's images folder and update the image paths below,
or create new graphics to replace them.

Learn more about customizing the stylesheet for Meteor Slides: 
http://www.jleuze.com/plugins/meteor-slides/customizing-the-stylesheet/
 */

/* =Slideshow
-------------------------------------------------------------- */

div.meteor-slides {
	clear: both;
	height: auto !important;
	line-height: 0;
	margin: 0;
	max-width: 100%;
	overflow: visible !important;
	padding: 0;
	position: relative;
	z-index: 1;
}
div.meteor-left {
	clear: none;
	float: left;
	margin: 0 20px 20px 0;
}
div.meteor-right {
	clear: none;
	float: right;
	margin: 0 0 20px 20px;
}
div.meteor-center {
	margin: 0 auto;
}
div.navpaged,
div.navboth {
	margin-bottom: 20px;
}
.meteor-slides .meteor-clip {
	line-height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
.meteor-slides .meteor-shim {
	border: 0;
	height: auto !important;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: auto\9; /* IE8 */
}
.meteor-slides a:focus {
	outline: none;
}

/* =Slide
-------------------------------------------------------------- */

.meteor-slides .mslide {
	display: none;
	height: auto !important;
	margin: 0;
	max-width: 100%;
	padding: 0;
}
.single-slide .mslide {
	display: block;
}
.meteor-slides .mslide a {
	border: 0;
	margin: 0;
	padding: 0;
}
.meteor-slides .mslide img {
	border: 0;
	box-shadow: none !important;
	display: block;
	height: auto !important;
	margin: auto !important;
	max-width: 100%;
	padding: 0 !important;
	width: auto\9; /* IE8 */
}
.meteor-slides .mslide img[src$='.png'] {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); /* IE7 */
	zoom: 1;	
}

/* =Previous/Next Navigation
-------------------------------------------------------------- */

.meteor-slides ul.meteor-nav {
	display: none;
	list-style: none;
	height: auto;
	margin: 0 !important;
	padding: 0;
}
.meteor-slides.navhover ul.meteor-nav {
	display: inline;
}
ul.meteor-nav li {
	display: inline;
	height: auto;
	list-style: none;
	margin: 0;
	padding: 0;
}
.meteor-nav .prev a {
	left: 0px;
}
.meteor-nav .next a {
	right: 0px;
}
.meteor-nav a {
	display: block;
	outline: none;
	position: absolute;
	text-indent: -9999px;
	width: 27px;
	height: 100%;
	z-index: 998;
}	
.meteor-nav .prev a {
	background: url('../images/prev.png') no-repeat center right;
}
.meteor-nav .prev a:hover {
	background: url('../images/prev.png') no-repeat center left;
}
.meteor-nav .next a {
	background: url('../images/next.png') no-repeat center left;
}
.meteor-nav .next a:hover {
	background: url('../images/next.png') no-repeat center right;
}	
* html .meteor-nav .prev a {
	background: url('../images/prev.gif') no-repeat center right; /* IE6 */
}
* html .meteor-nav .prev a:hover {
	background: url('../images/prev.gif') no-repeat center left; /* IE6 */
}
* html .meteor-nav .next a {
	background: url('../images/next.gif') no-repeat center left; /* IE6 */
}
* html .meteor-nav .next a:hover {
	background: url('../images/next.gif') no-repeat center right; /* IE6 */
}

/* =Paged Navigation
-------------------------------------------------------------- */

#meteor-buttons {
	position: relative;
	bottom: -388px;
	opacity: 0;
	z-index: 999;
	padding: 0 14px;
	height: 0;
}
#meteor-buttons a {
	-moz-border-radius:			3px;
	-khtml-border-radius:		3px;
	-webkit-border-radius:	3px;
	border-radius:					3px;
	background: none repeat scroll 0 0 #999;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	margin-right: 7px;
	padding: 4px 8px;
	z-index: 999;
	position: relative;
}
#meteor-buttons a:hover {
	text-decoration: none;
	background-color: #679fd2;
}
#meteor-buttons a.activeSlide {
	background: none repeat scroll 0 0 #d3d3d3;
	color: #fff;
}

* html .meteor-buttons a {
	background: url('../images/buttons.gif') no-repeat bottom left; /* IE6 */
}
* html .meteor-buttons a:hover {
	background: url('../images/buttons.gif') no-repeat bottom right; /* IE6 */
}
* html .meteor-buttons a.activeSlide {
	background: url('../images/buttons.gif') no-repeat bottom right; /* IE6 */
}
